Repository factory-js/factory-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

chore: approve build
  pnpm-workspace.yaml
Due: prettier -w -u, secretlint --maskSecrets

fix: format
  CONTRIBUTING.md
  packages/prisma-factory/e2e/schema.prisma
Due: prettier -w -u, secretlint --maskSecrets

chore: remove ReadonlyDeep
  packages/prisma-factory/src/generator/content-writer.ts
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

fix: types
  packages/prisma-factory/src/generator/content-writer.ts
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

chore: add prisma config
  packages/prisma-factory/package.json
  packages/prisma-factory/prisma.config.ts
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

fix: change schema path
  packages/prisma-factory/.env.sample
  packages/prisma-factory/prisma.config.ts
  packages/prisma-factory/schema.prisma
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

chore: add changeset
  .changeset/forty-showers-laugh.md
Due: prettier -w -u, secretlint --maskSecrets

fix: path
  packages/prisma-factory/e2e/tests/basic.test.ts
  packages/prisma-factory/e2e/tests/many-to-many.test.ts
  packages/prisma-factory/e2e/tests/one-to-many.test.ts
  packages/prisma-factory/e2e/tests/one-to-one.test.ts
  packages/prisma-factory/e2e/tests/self-relation.test.ts
  packages/prisma-factory/schema.prisma
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

fix: path
  .github/workflows/test.yml
Due: prettier -w -u, secretlint --maskSecrets

chore: change node allowedVersions
  renovate.json
Due: prettier -w -u, secretlint --maskSecrets

chore: allows local postgresql url
  .secretlintrc.json
Due: prettier -w -u, secretlint --maskSecrets

chore: change node allowedVersions (#266)
  .secretlintrc.json
  renovate.json
Due: prettier -w -u, secretlint --maskSecrets

fix: pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier -w -u, secretlint --maskSecrets

fix: pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier -w -u, secretlint --maskSecrets

fix: lint errors
  examples/basic/src/basic.ts
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

fix: config
  packages/factory/vitest.config.ts
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

fix: update prisma config
  packages/prisma-factory/e2e/db.ts
  packages/prisma-factory/e2e/tests/basic.test.ts
  packages/prisma-factory/package.json
  packages/prisma-factory/prisma.config.ts
  packages/prisma-factory/schema.prisma
  packages/prisma-factory/vitest.config.mts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

fix: add the env file
  .github/workflows/lint.yml
Due: prettier -w -u, secretlint --maskSecrets

chore: add generate deps
  turbo.json
Due: prettier -w -u, secretlint --maskSecrets

chore: reomve output option
  packages/prisma-factory/e2e/db.ts
  packages/prisma-factory/e2e/tests/basic.test.ts
  packages/prisma-factory/schema.prisma
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

chore: add bigint test
  packages/prisma-factory/src/rands.test.ts
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

chore: add enum tests
  packages/prisma-factory/src/generator/content-writer.test.ts
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

fix: pnpm-lock
  pnpm-lock.yaml
Due: prettier -w -u, secretlint --maskSecrets

docs: improve README
  CONTRIBUTING.md
  README.md
Due: prettier -w -u, secretlint --maskSecrets

docs: improve README (#295)
  CONTRIBUTING.md
  README.md
Due: prettier -w -u, secretlint --maskSecrets

chore: add cursorignore
  .cursorignore
Due: secretlint --maskSecrets

chore: add cursorignore (#303)
  .cursorignore
Due: secretlint --maskSecrets

feat: migrate to npm trusted publishing with OIDC
  .github/workflows/release.yml
  .nvmrc
Due: prettier -w -u, secretlint --maskSecrets

chore: add changeset for trusted publishing migration test
  .changeset/happy-terms-obey.md
Due: prettier -w -u, secretlint --maskSecrets

chore: update Node.js to v24 (#308)
  .changeset/happy-terms-obey.md
  .github/workflows/release.yml
  .nvmrc
Due: prettier -w -u, secretlint --maskSecrets

fix: update renovate allowed Node.js version to v24
  renovate.json
Due: prettier -w -u, secretlint --maskSecrets

fix: update renovate allowed Node.js version to v24 (#314)
  renovate.json
Due: prettier -w -u, secretlint --maskSecrets

chore: add minimumReleaseAge of 3 days to renovate and pnpm
  pnpm-workspace.yaml
  renovate.json
Due: prettier -w -u, secretlint --maskSecrets

chore: add minimumReleaseAge of 3 days to renovate and pnpm (#329)
  pnpm-workspace.yaml
  renovate.json
Due: prettier -w -u, secretlint --maskSecrets

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier -w -u, secretlint --maskSecrets

fix: remove unnecessary type assertions to satisfy lint
  packages/factory/src/utils/map-values-async.ts
  packages/factory/src/utils/map-values.ts
  packages/prisma-factory/src/generator/enum-writer.test.ts
  packages/prisma-factory/src/generator/factory-writer.test.ts
Due: eslint --fix --max-warnings=0, prettier -w -u, secretlint --maskSecrets

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,cjs,mjs}
  prettier -w -u: (any of: *.{ts,js,cjs,mjs}) or (any of: *.{md,html,css,scss,json,yml,yaml})
  secretlint --maskSecrets: any of: **/*
